.App {
  text-align: center;
  background-image: url("C:\_code_\Social-Service-Association\social_service\src\20210923101921_IMG_0835 (2).JPG");
  background-size: "cover";
  height: 200vh;
  margin-top: -70px;
  
  background-repeat:no-repeat; 
}

.App h1 {
  margin-top: 80px;
  color: rgb(255, 254, 224);
  color: #f6fac0;
}

.App h3 {
  color: rgb(255, 254, 224);
  color: #d3da7b;
}



.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #f09432;
}

.loginDetails {
  background-color: rgb(255, 254, 224, 0.5);
  height: 150px;
  width: 400px;
  margin-top: 10%;
  margin-left: 38%;
  align-items: center;
  color: rgb(87, 56, 0);
  font-weight: bolder;
  border-radius: 2%;
}



.loginDetails label {
  width: 100px;
  display: inline-block;
}

.loginDetails div {
  padding: 5px;
}

#login_submit {
  margin-left: 10%;
  background-color: #fbc861;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


